<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新闻</title>
<!--    <meta name="renderer" content="webkit">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<!--    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <script type="text/javascript" src="../../js/baseUtils.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../js/html5shiv.min.js"></script>
    <script type="text/javascript" src="../../js/respond.js"></script><![endif]-->
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form" >
                <div class="layui-form-item">
                    <label class="layui-form-label">新闻标题</label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title" placeholder="请输入标题" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input" style="width: 600px">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">内容摘要</label>
                    <div class="layui-input-inline">
                        <input type="text" id="brief" name="brief" placeholder="请输入概要" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input" style="width: 600px">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">作者</label>
                    <div class="layui-input-inline">
                        <input type="text" id="author" name="author" placeholder="请输入作者名字" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input" style="width: 200px">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新闻类型</label>
                    <div class="layui-input-inline">
                        <select id="news_type_id" name="news_type_id" lay-verify="required" lay-verType="tips">
                            <option value="">请选择一个新闻类型</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">正文内容</label>
                    <div class="layui-input-inline" style="width:100%;">
                        <textarea id="content" name="content" lay-verify="content" style="display: none;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div style="text-align: center">
                        <button class="layui-btn" lay-filter="addNews" lay-submit>增加</button>
<!--                        <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        layui.use(['form', 'layer','jquery','layedit'], function() {
            $ = layui.jquery;
            var form = layui.form;
            var layer = layui.layer;
            var layedit = layui.layedit;

            //初始化下拉选择框
            $.ajax({
                url: path+'/news/type/list.do',
                method: 'post',
                data:{"status":1},
                dataType:'JSON',
                success:function (data) {
                    if (data.success){
                        var newsTypes=data.data;//得到新闻类型列表
                        for (var i in newsTypes) {
                            var newsType = newsTypes[i];//得到每条新闻类型
                            $("#news_type_id").append("<option value=" + newsType.id + ">" + newsType.title + "</option>");//动态添加选择项
                            form.render("select");//重新加载下拉选择框
                        }
                    }else{
                        layer.msg('新闻类型加载失败', {icon: 2,time:1000});
                    }
                },
                error:function (data) {
                    layer.msg('服务器出现了点问题!',{icon:5,time:1000});
                }
            });


            //初始化富文本编辑器
            var index=layedit.build('content',{
                height: 220//默认高度
                //配置图片上传接口
                ,uploadImage: {
                    url: path+'/news/uploadImage.do' //接口url
                    ,type: 'post' //默认post
                }


            });

            //自定义验证规则
            form.verify({
                content:function(value){
                    var text=layedit.getContent(index);
                    if(text==''){
                        return "正文不能为空";
                    }
                    else
                        layedit.sync(index);
                }
            });
            // //监听重置按钮的点击事件
            // $("#reset").click(function(){
            //     //清空富文本编辑器的内容
            //     $(window.frames["LAY_layedit_1"].document).find('body').html('');
            // });
            //监听提交
            form.on('submit(addNews)',function(data) {
                $.ajax({
                    url:path+'/news/addNews.do',
                    method:'post',
                    data:data.field,
                    dataType:'JSON',
                    success:function (data) {
                        if (data.success){
                            layer.alert("添加成功", {icon: 1},function() {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });

                        }else{
                            layer.alert('添加失败', {icon: 2});
                        }
                    },
                    error:function (data) {
                        layer.alert('服务器出现了点问题', {icon: 5});
                    }
                });
                return false;
            });

        });
    </script>
</body>
</html>