

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>智慧检查</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../res/layui/css/layui.css">
    <link rel="stylesheet" href="../../res/css/global.css">
    <script type="text/javascript" src="../../res/layui/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../res/js/baseUtils.js" charset="utf-8"></script>
    <style type="text/css">
        .time_text{
            position:absolute;
            bottom:0px;
            padding:0px;
            margin:0px;
            color: #999;
        }
        .detail_text{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            font-size: 15px;
        }
        .status_1{
            font-size: 5px; color: #2D93CA;text-align:center;line-height:15px;
        }
        .status_2{
            font-size: 5px; color: orange;text-align:center;line-height:15px;
        }
        .status_3{
            font-size: 5px; color: #FF5722;text-align:center;line-height:15px;
        }

    </style>
</head>
<body>
<div id="header"></div>

<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-tab layui-tab-brief layui-col-md8" lay-filter="inspect_tab">
            <ul class="layui-tab-title fly-panel-title fly-filter">
                <li class="layui-this">军检举报</li>
                <li>军检控告</li>
                <li>军检申诉</li>
            </ul>
            <div class="layui-tab-content">
                <div  class="fly-list layui-tab-item layui-show"> <div id="inform_data"></div><div id="inform_page"></div></div>
                <div class="fly-list layui-tab-item"><div id="sue_data"></div><div id="sue_page"></div></div>
                <div class="fly-list layui-tab-item"><div id="appeal_data"></div><div id="appeal_page"></div></div>
            </div>
        </div>
        <span id="sidebar"></span>
    </div>
</div>

<div id="footer"></div>

<!-- 加载头部和尾部 -->
<script>
    $("#header").load("../header.html");
    $("#footer").load("../footer.html");
    $("#sidebar").load("sidebar.html");
</script>

<script src="../../res/layui/layui.js"></script>

<script>
    layui.use(['laypage','jquery','laytpl','element'], function(){
        var laypage = layui.laypage;
        var laytpl = layui.laytpl;
        var element = layui.element;
        $ = layui.jquery;
        var total = 0;
        var size = 5;
        var inspectType = 0;
        
        function drawTpl(data,index) {
            var id;
            if (index == 0){
                id = "inform_data"
            }else if (index == 1){
                id = "sue_data"
            }else{
                id = "appeal_data"
            }
            console.log(id);
            var getTpl = list_tpl.innerHTML // list_tpl 模板
                ,view = document.getElementById(id);
            laytpl(getTpl).render(data, function(html){
                view.innerHTML = html;
            });
        }

        function showRecord(pageNo,pageSize,index,isFirst){
            var urlPath = "";
            var pageID = "";
            if (index == null || index == 0){
                urlPath = "inform";
                pageID = "inform_page"
            }else if (index == 1){
                urlPath = "sue";
                pageID = "sue_page"
            }else{
                urlPath = "appeal";
                pageID = "appeal_page";
            }
            $.ajax({
                //请求方式
                type : "POST",
                //请求地址
                url : path+'/inspect/'+urlPath+'/list.do',
                //数据，json字符串
                data : {
                    currentPage:pageNo,
                    pageSize:pageSize
                },
                datatype:"json",
                //请求成功
                success : function(res) {
                    console.log(res);
                    var list =res.data['list'];
                    total =res.data.total;
                    drawTpl(list,index);
                    if (isFirst){
                        SetPage(pageID,total);
                    }
                },
                //请求失败，包含具体的错误信息
                error : function(res){

                }
            });
        };
        function SetPage(id,total) {
            laypage.render({
                elem: id
                , count: total
                , limit:5
                , curr: 1                        //起始页
                , groups: 5                      //连续页码个数
                , prev: '上一页'                 //上一页文本
                , next: '下一页'                 //下一页文本
                , first: 1                      //首页文本
                , limits: [5,10,15]
                , layout: ['prev', 'page', 'next','limit','refresh','skip']
                , jump: function (obj,first) {
                    size = obj.limit;
                    showRecord(obj.curr,obj.limit,inspectType,false);
                }
            })
        }
        $.ajax({
            //请求方式
            type : "POST",
            //请求地址
            url : path+'/inspect/inform/list.do',
            //数据，json字符串
            data : {
                currentPage:1,
                pageSize:5,
            },
            datatype:"json",
            //请求成功
            success : function(res) {
                pageInfo = res.data['list'];
                SetPage("inform_page", pageInfo.total)
            }
        });

        element.on("tab(inspect_tab)",function (data) {
            inspectType = data.index;
            showRecord(1,5,inspectType,true);
        })
    });

</script>

<script id="list_tpl" type="text/html">

    {{#  layui.each(d, function(index, item){ }}
    <li style="height: 200px">
        <a href="user/home.html" class="fly-avatar">
            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="{{= item.adminName}}">
        </a>
        <h2>
            <a class="layui-badge">{{ !item.type?null:item.type.title}}</a>
            <a href="detail.html?id={{ item.data.id}}&type={{item.dataType}}">{{= !item.data.title?null:item.data.title}}</a>
            {{#     if(item.data.process_status == 1){          }}
            | <span class="status_1">已提交</span>
            {{#     }else if(item.data.process_status == 2){    }}
            | <span class="status_2">已受理</span>
            {{#     }else{                              }}
            | <span class="status_3">已完结</span>
            {{#     } }}
        </h2>
        <div>
            <p>
                <h3 class="detail_text">
                    {{ item.data.detail }}
                </h3>
            </p>
            {{#
            if (CheckIsNullOrEmpty(item.data.create_time)){
            var date = new Date();
            var createTime = item.data.create_time+"000";
            date.setTime(createTime);
            var t = date.Format("yyyy-MM-dd hh:mm:ss");
            }}
            <span class="time_text"> {{ t }}</span>
            {{#
            }else {
            }}
            <span class="time_text"> 无</span>
            {{# } }}

        </div>
    </li>
    {{#  }); }}
</script>
</body>
</html>