<div class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <!-- 换成我们的logo     -->
<!--            <img src="/app/res/images/logo-2.png" alt="layui" style="height: 45px;width: 60px;">-->
        </a>

        <ul class="layui-nav fly-nav-user">

            <!-- 未登入的状态 -->
            <div id="no_login">
                <li class="layui-nav-item">
                    <a class="iconfont icon-touxiang layui-hide-xs" href="/app/view/user/login.html"></a>
                </li>
                <li class="layui-nav-item">
                    <a href="/app/view/user/login.html">登入</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/app/view/user/reg.html">注册</a>
                </li>
            </div>


            <!-- 登入后的状态 -->
              <li class="layui-nav-item" id="has_login" style="display: none;">
                  <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
<!--                  <dd><a href="/app/view/user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>-->
<!--                  <dd><a href="/app/view/user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>-->
                  <dd><a href="/app/view/user/home.html"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
                  <hr style="margin: 5px 0;">
                  <dd><a onclick="exit()" style="text-align: center;">退出</a></dd>
                </dl>
              </li>

        </ul>
    </div>
</div>
<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="/app/view/index.html">首页</a></li>
            <li><a href="/app/view/news/news-list.html">新闻</a></li>
            <li><a href="/app/view/law/library/law-library-list.html">法律学习</a></li>
            <!--    TODO  咨询和举报需要另外一个页面-->
            <li><a href="/app/view/law/help/index.html">咨询</a></li>
            <li><a href="/app/view/inspect/index.html">军检举报</a></li>
<!--            <li><a href="/app/view/jie/index.html">公告</a></li>-->
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>

            <!-- 用户登入后显示 -->
<!--            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/app/user/index.html">我的举报</a></li>-->
        </ul>

        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
        </div>
    </div>
</div>


<script>
    var u,hasLogin = checkLogin().has;
    console.log(hasLogin);
    if( hasLogin) {
        $("#has_login").attr("style","display:block;");
        $("#no_login").attr("style","display:none;");
    }else{
        $("#no_login").attr("style","display:block;");
        $("#has_login").attr("style","display:none;");
    }
</script>
<script>
    //退出登陆
    function exit() {
        //删除用户信息
        window.setCookie("user",null);
        //通知后台退出登陆
        $.ajax({
            url:path+'/user/exit.do',
            method:'get',
            async: false,//改为同步请求
            success:function (data) {
            }
        });
        location.href=path+'/view/index.html';
    }
</script>
