<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--关联core里面的spring 的配置文件-->
    <import resource="classpath:application-context.xml" />
    <!--配置注解驱动  配置最新的三大器-->
    <mvc:annotation-driven/>
    <!--配置处理静态资源被拦截的问题-->
    <mvc:default-servlet-handler/>
    <!--<mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/js/**" location="/js/" />
    <mvc:resources mapping="/fonts/**" location="/fonts/" />
    <mvc:resources mapping="/images/**" location="/images/" />
    <mvc:resources mapping="/lib/**" location="/lib/" />
    <mvc:resources mapping="/upload/**" location="/upload/" />-->

    <!--配置文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--        <property name="defaultEncoding" value="UTF-8" />-->
        <property name="maxUploadSize" value="2097152" />
    </bean>
    <!-- 配置spring自带的视图解析器 -->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/view/"/>
        <property name="suffix" value=".html"/>
    </bean>-->
    <!--加载文件信息-->
    <util:properties  id="file" location="classpath:file.properties" />

    <!--使用aop注解-->
    <aop:aspectj-autoproxy />

    <!--拦截器  -->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 登陆拦截 -->
            <mvc:mapping path="/view/**"/>
            <!--<mvc:exclude-mapping path="/login.html" />
            <mvc:exclude-mapping path="/admin/login.do" />
            <mvc:exclude-mapping path="/admin/exit.do" />
            <mvc:exclude-mapping path="/admin/isLogin.do" />-->
            <bean class="cn.hwsoft.admin.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>

        <mvc:interceptor>
            <!-- 权限拦截-->
            <mvc:mapping path="/**"/>
            <bean class="cn.hwsoft.admin.interceptor.AuthorityInterceptor"></bean>
        </mvc:interceptor>

    </mvc:interceptors>


</beans>
