<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>用户信息编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <script type="text/javascript" src="../../js/baseUtils.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../js/html5shiv.min.js"></script>
    <script type="text/javascript" src="../../js/respond.js"></script> <![endif]--></head>
    <script type="text/css">

    </script>


<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" lay-filter="form" id="form">
            <div class="layui-form-item">
                <label for="status" id="statusName" class="layui-form-label" value="1">启用</label>
                <div class="layui-input-block">
                    <input id="status" name="status" type="checkbox" name="status" lay-skin="switch" lay-filter="status">
                </div>
            </div>
            <div class="layui-form-item" style="display:none">
                <label for="id" id="" class="layui-form-label">ID</label>
                <div class="layui-input-block">
                    <input id="id" name="id" type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="identity"  class="layui-form-label">
                    <span class="x-red">*</span>身份证号</label>
                <div class="layui-input-inline">
                    <input type="text" id="identity" name="identity" required="" lay-verify="identity"  autocomplete="off" class="layui-input"></div></div>
            <div class="layui-form-item">
                <label for="nickname" class="layui-form-label">
                    <span class="x-red">*</span>昵称</label>
                <div class="layui-input-inline">
                    <input type="text" id="nickname" name="nickname" required="" lay-verify="" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="realname" class="layui-form-label">
                    <span class="x-red">*</span>真实姓名</label>
                <div class="layui-input-inline">
                    <input type="text" id="realname" name="realname" required="" lay-verify="" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    <span class="x-red">*</span>手机号码</label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="phone" required="" lay-verify="" autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="address" class="layui-form-label">
                    <span class="x-red">*</span>联系地址</label>
                <div class="layui-input-inline">
                    <input type="text" id="address" name="address" required="" lay-verify="" autocomplete="off" class="layui-input"></div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit id="butt" lay-filter="butt">保存</button>
                   <!-- <button class="layui-btn"  lay-filter="reset">重设</button>-->
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form,
                layer = layui.layer;
        var id = GetRequest()['id']; //获取url中"?"符后的字串
        //异步获取用户数据
        $.ajax({
            url: path+"/user/"+id+".do",
            type:"get",
            contentType: 'application/json',
            dataType:"json",
            success:function (data) {
                //回显数据
                //console.log(data);
                var user = data.data;
                if (data.success){
                    form.val("form", {
                        id:user.id,
                        identity:user.identity,
                        nickname:user.nickname,
                        realname:user.realname,
                        phone:user.phone,
                        status:user.status,
                        address:user.address
                    });
                    check(user);
                    form.render();
                }else {
                    $("#form").html("没有该用户!或者服务器出现了一点小问题!");
                }
            },
            error:function (data) {
                $("#form").html("<div style='text-align:center'>服务器出现了一点小问题!</div>");
            }
        });

        //对表单数据进行处理
        function check(user) {
            //状态
            if (user['status']==1){
                $("#status").attr("checked",true);
                $("#statusName").text('停用');
            }else{
                $("#status").attr("checked",false);
                $("#statusName").text('启用');
            }
            form.render();
        }
        //用户状态改变时,对应的文字改变
        form.on('switch(status)', function(data){
            //开
            if (data.elem.checked){
                $("#statusName").text('停用');
            }else{
                $("#statusName").text('启用');
            }
            form.render();
        });
        //监控提交
        form.on('submit(butt)', function(data){
            //异步提交表单
            if (data.field['status']=="on"){
                data.field['status'] = 1;
            }else{
                data.field['status'] = 2;
            }
            console.log(data.field);
            $.ajax({
                url:path+'/user/edit.do',
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function (data) {
                    if (data.success){
                        message('修改成功',1,layer);
                    }else{
                        message('修改失败',2,layer);
                    }
                },
                error:function (data) {
                    message('修改失败',2,layer);
                }
            });
            return false;
        });
        //监控重设
        form.on('submit(reset)', function(data){
            window.location.reload();
        });



        /* //自定义验证规则
         form.verify({
         nikename: function(value) {
         if (value.length < 5) {
         return '昵称至少得5个字符啊';
         }
         },
         pass: [/(.+){6,12}$/, '密码必须6到12位'],
         repass: function(value) {
         if ($('#L_pass').val() != $('#L_repass').val()) {
         return '两次密码不一致';
         }
         }
         });*/
        //获取url参数
        function GetRequest() {
            var url = decodeURI(location.search); //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for(var i = 0; i < strs.length; i ++) {
                    theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }


        //监听提交
        form.on('submit(add)',
                function(data) {
                    console.log(data);
                    //发异步，把数据提交给php
                    layer.alert("增加成功", {
                                icon: 6
                            },
                            function() {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                    return false;
                });

    });</script>
</body>

</html>