<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>用户列表</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../../css/font.css">
        <link rel="stylesheet" href="../../css/xadmin.css">
        <script src="../../lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../../js/xadmin.js"></script>
        <script src="../../js/InspectUtils.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="../../js/baseUtils.js"></script>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="../../js/html5shiv.min.js"></script>
        <script type="text/javascript" src="../../js/respond.js"></script><![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5" lay-filter="form1">
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="keyword" id="keyword"  placeholder="请输入" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                                    <select name="name" id="name">
                                        <option value=1 selected>用户名</option>
                                        <option value=2>身份证号</option>
                                    </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block" style="width: 150px;">
                                    <select name="status" id="status" lay-filter="status">
                                        <option value=0 selected>全部用户</option>
                                        <option value=1>白名单</option>
                                        <option value=2>黑名单</option>
                                    </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="search" id="search"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                            <br>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main">
                            <table class="layui-table" id="table"  lay-filter="table">

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div> 
    </body>


    <script>

      layui.use(['table','form','layer','jquery'],function () {
          var table = layui.table;
          var form = layui.form;
          var layer = layui.layer;
          $ = layui.jquery;
          var tableResult = table.render({
              elem: '#table'
              ,id:'table'
              ,title:'用户列表'
              ,url: path+'/user/list.do'
              ,method: 'post'
              ,page:true
              ,limit:15
              ,limits: [15,30,40]
              ,where:{
                  keyword:"",
                  searchType:0,
                  status:0
              }  //条件
              ,toolbar: '#toolbar'
              ,defaultToolbar: ['filter']
              ,request: {
                  pageName: 'currentPage' //页码的参数名称，默认：page
                  ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
              }
              ,response: {
                  statusCode: 1, ////重新规定成功的状态码为true
              }
              ,parseData: function(res){ //res 即为原始返回的数据
                  //console.log(res);
                  var pageInfo = res.data.users;
                  var users = pageInfo.list;
                  var ipMap = res.data.ipMap;
                  var data = [];
                  for (var i=0;i<users.length;i++){
                      var obj = {};
                      var ip=null,loginTime=null;
                      if (ipMap[users[i]['id']]!=null){
                          ip = {'ip':ipMap[users[i]['id']]['ip']};
                          loginTime = {'loginTime':ipMap[users[i]['id']]['create_time']};
                      }
                      Object.assign(obj, users[i],ip,loginTime);
                      data.push(obj);
                  }
                  return {
                      "code": res.success, //解析接口状态
                      "msg": res.errorMsg, //解析提示文本
                      "count": pageInfo.total, //解析数据长度
                      "data": data //解析数据列表
                  };
              }
              ,cols: [[
                   {field:'id', type:'checkbox' , width:80 ,style:'header',title:'全选'}
                  ,{field:'id', width:80 ,title:'id', align: 'center'}
                  ,{field:'identity', width:240 ,title:'身份证号', align: 'center'}
                  ,{field:'nickname', width:180,title:'用户名', align: 'center'}
                  ,{field:'realname', width:180,title:'真实姓名', align: 'center'}
                  ,{field:'phone', width: 180,title:'手机号码', align: 'center'}
                  ,{field:'address', width:260,title:'地址', align: 'center'}
                  ,{field:'create_time', width: 240,title:'创建时间',templet:'#createTime', align: 'center'}
                  ,{field:'ip', width:180,title:'登陆IP',templet:'#loginIp', align: 'center'}
                  ,{field:'loginTime', width:240,title:'登陆时间',templet:'#loginTime', align: 'center'}
                  ,{field:'cover',title:'军官证',width:160, align: 'center'}
                  ,{field:'status',title:'状态',width:160, align: 'center'}
                  ,{title:'修改',width:160,toolbar: '#operationTool'}
              ]]
              ,done: function(res, curr, count){
                  //如果是异步请求数据方式，res即为你接口返回的信息。
                  //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                  //console.log(res);
                  //得到当前页码
                  //console.log(curr);
                  //得到数据总量
                  //console.log(count);
                  exportData=res.data;
                  var i = 0;
                  $("[data-field='status']").children().each(function(){
                      if(i!=0){
                          if($(this).text()=='1'){
                              $(this).html('<span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>');
                              exportData[i-1].status='已启用';
                          }else if($(this).text()=='2'){
                              $(this).html(' <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span></td>');
                              exportData[i-1].status='已停用';
                          }
                      }
                      i++;
                  });
                  var data = res['data'];
                  var id = 0;
                  i = 0;
                  //查看军官证
                  $("[data-field='cover']").children().each(function(){
                        if(i!=0){
                            var url = data[i-1]['cover'];
                            var html = '<button type="button" class="layui-btn" onclick=layerCover("'+url+'")>查看</button>';
                            $(this).html(html);
                        }
                        i++;
                  });
              }
          });
          //监听条件查询点击事件
          form.on('submit(search)', function(data){
              var keyword =data.field['keyword'];
              var searchType = data.field['name'];
              var status = data.field['status'];
              tableResult.reload({
                  url:path+'/user/list.do',
                  method: 'post',
                  where:{
                      keyword:keyword,
                      searchType:searchType,
                      status:status
                  },
                  page:{
                      curr:1
                  }
              });
              return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
          });

          //头工具栏事件
          table.on('toolbar(table)', function(obj){
              var checkStatus = table.checkStatus(obj.config.id);
              switch(obj.event){
                  case 'delAll':
                      delAll(obj,checkStatus);
                      break;
                  case 'add':
                      xadmin.open('添加用户','./member-add.html',600,400);
                      break;
                  case 'export':
                      //导出execl表
                      table.exportFile(tableResult.config.id,exportData, 'xls');
                      break;
              };
          });
          //行工具栏点击事件
          table.on('tool(table)', function(obj){
              var data = obj.data;
              console.log(data);
              if(obj.event === 'edit'){
                  edit("编辑","member-edit.html?id="+data.id,600,400);
              } else if(obj.event === 'reset'){
                  resetPassWord(data.id);
              }
          });
          //点击行选中
          $(document).on("click",".layui-table-body table.layui-table tbody tr",function(){
              var obj = event ? event.target : event.srcElement;
              var tag = obj.tagName;
              var checkbox = $(this).find("td div.laytable-cell-checkbox div.layui-form-checkbox I");
              if(checkbox.length!=0){
                  if(tag == 'DIV' || tag == 'I') {
                      checkbox.click();
                  }
              }
          });
          $(document).on("click","td div.laytable-cell-checkbox div.layui-form-checkbox",function(e){
              e.stopPropagation();
          });


          //编辑功能
          function edit(title,url,w,h) {
              layer.open({
                  type: 2,
                  area: [w+'px', h +'px'],
                  fix: true, //不固定
                  maxmin: true,
                  shadeClose: false,
                  shade:0.4,
                  title: title,
                  content: url,
                  end:function () {
                      var keyword =$("#keyword").val();
                      var cur = $(".layui-laypage-em").next().html();
                      console.log(cur);
                      console.log(keyword);
                      layui.table.reload('table',{
                          url:path+'/user/list.do',
                          method: 'post',
                          where:{
                              keyword:keyword
                          },
                          page:{
                              //当前页
                              curr:$(".layui-laypage-em").next().html()
                          }
                      });
                      return false;
                  }
              });
          }

          function resetPassWord(id) {
              layer.confirm('确认要初始化密码吗？',function(index){
                  $.ajax({
                      url: path+"/user/reset.do",
                      type: "post",
                      data: {'id': id},
                      dataType: 'JSON',
                      success:function (data) {
                          if (data.success){
                              layer.msg('初始化密码成功', {icon: 1,time:1000});
                          }else {
                              layer.msg('初始化密码失败', {icon: 1,time:1000});
                          }
                      },
                      error:function () {
                          layer.msg('服务器出现了点问题!',{icon:1,time:1000});
                      }
                  });
              });
          }



          /*用户-删除*/
          /*function member_del(obj,id){
              layer.confirm('确认要删除吗？',function(index){
                  //发异步删除数据
                  console.log(id);
                  var ids = [id];
                  $.ajax({
                      url: path+"/user/del.do",
                      type:"post",
                      data:{'ids':ids},
                      traditional: true, //传数组时需设为ture
                      dataType:'JSON',
                      success:function (data) {
                          if (data.success){
                              //alert("删除成功");
                              layer.msg('删除成功', {icon: 1,time:1000});
                              obj.del();
                              layui.table.render('checkbox');
                              //layer.msg('已删除!',{icon:1,time:1000});
                          }else {
                              layer.msg('删除失败', {icon: 1,time:1000});
                          }
                      },
                      error:function () {
                          //alert("删除失败!服务器出了点问题");
                          layer.msg('删除失败', {icon: 1});
                          layer.msg('服务器出现了点问题!',{icon:1,time:1000});
                      }
                  });

              });
          }*/
          function delAll (obj,checkStatus) {
              var datas = checkStatus.data;
              if(datas.length==0){
                  layer.confirm("请选择用户!");
                  return;
              }
              var ids = [];
              for (var i in datas){
                  var id = datas[i].id;
                  ids.push(id);
              }
              var trObjs=getChecked(obj,table);
              layer.confirm('确认要加入黑名单吗？',function(index){
                  //捉到所有被选中的，发异步进行删除
                  $.ajax({
                      url: path+"/user/del.do",
                      type:"post",
                      data:{'ids':ids},
                      traditional: true, //传数组时需设为ture
                      dataType:'JSON',
                      success:function (data) {
                          if (data.success){
                              layer.msg('修改成功', {icon: 1});
                              /*layui.each(obj.trObjs,function(inext,trObj){
                                  //和单击行事件对象一样。
                                  trObj.del();
                              });*/
                              var keyword =$("keyword").val();
                              var searchType = $("searchType").val();
                              var status = $("status").val();
                              tableResult.reload({
                                  url:path+'/user/list.do',
                                  method: 'post',
                                  where:{
                                      keyword:keyword,
                                      searchType:searchType,
                                      status:status
                                  },
                                  page:{
                                      curr:1
                                  }
                              });
                          }else {
                              layer.msg('修改失败', {icon: 1,time:1000});
                          }
                      },
                      error:function () {
                          layer.msg('修改失败', {icon: 1});
                          layer.msg('服务器出现了点问题!',{icon:1,time:1000});
                      }
                  });
              });
          }
      });
      //弹窗显示军官照
      function layerCover(address) {
          var ip = getIp();
          var url = ip+address;
          console.log(url);
          var imgHtml = "<div style='width: 100%;height: 100%;margin-top: 100px;margin-bottom: 100px;display: flex;justify-content: space-around;align-items: center;'><img src= "+url+" /></div>";

          layer.tab({
              area: ['70%','90%'],
              shade : 0.6,
              maxmin: true,
              anim:1,
              title:'查看军官证' ,
              tab: [{
                  title: '军官证',
                  content: imgHtml
              }]
          });
      }
    </script>
    <script id="createTime" type="text/html">
        {{#
        if (CheckIsNullOrEmpty(d.create_time)){
        var date = new Date();
        var createTime = d.create_time+"000";
        date.setTime(createTime);
        return date.Format("yyyy-MM-dd hh:mm:ss");
        }
        return '没有记录';
        }}
    </script>
    <script id="loginTime" type="text/html">
        {{#
        if (CheckIsNullOrEmpty(d.loginTime)){
        var date = new Date();
        var createTime = d.loginTime+"000";
        date.setTime(createTime);
        return date.Format("yyyy-MM-dd hh:mm:ss");
        }
        return '没有记录';
        }}
    </script>
    <script id="loginIp" type="text/html">
        {{#
        if (CheckIsNullOrEmpty(d.loginTime)){
        return d.ip;
        }
        return '没有记录';
        }}
    </script>
    <!--头工具栏-->
    <script type="text/html" id="toolbar">
        <div class="layui-card-header">
            <button class="layui-btn layui-btn-danger" lay-event="delAll"><i class="layui-icon"></i>批量加入黑名单</button>
           <!-- <button class="layui-btn" lay-event="add"><i class="layui-icon"></i>添加</button>-->
            <!--<button class="layui-btn" id="export" lay-event="export"><i class="layui-icon layui-icon-export"></i>导出</button>
        --></div>
    </script>
    <script id="operationTool" type="text/html">
        <a title="编辑" lay-event="edit" href="javascript:;">
            <i class="layui-icon">&#xe642;</i>编辑
        </a><!--<a title="初始化密码" lay-event="reset" href="javascript:;">
            <i class="layui-icon">&#xe669;</i>初始化密码 </a>-->
    </script>

</html>