<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>查看申诉人</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
    <script type="text/javascript" src="../../js/baseUtils.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../js/html5shiv.min.js"></script>
    <script type="text/javascript" src="../../js/respond.js"></script> <![endif]--></head>

<body>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" lay-filter="form" id="form">
            <div class="layui-form-item">
                <label for="status" id="statusName" class="layui-form-label" value="1">启用</label>
                <div class="layui-input-block">
                    <input id="status" name="status" type="checkbox" disabled name="status" lay-skin="switch" lay-filter="status">
                </div>
            </div>
            <div class="layui-form-item" style="display:none">
                <label for="id" id="" class="layui-form-label">ID</label>
                <div class="layui-input-block">
                    <input id="id" name="id" type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="identity"  class="layui-form-label">
                    <span class="x-red"></span>身份证号</label>
                <div class="layui-input-inline">
                    <input type="text" id="identity" name="identity" readonly  autocomplete="off" class="layui-input"></div></div>
            <div class="layui-form-item">
                <label for="nickname" class="layui-form-label">
                    <span class="x-red"></span>昵称</label>
                <div class="layui-input-inline">
                    <input type="text" id="nickname" name="nickname" readonly autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="realname" class="layui-form-label">
                    <span class="x-red"></span>真实姓名</label>
                <div class="layui-input-inline">
                    <input type="text" id="realname" name="realname" readonly autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    <span class="x-red"></span>手机号码</label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="phone"readonly autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <label for="address" class="layui-form-label">
                    <span class="x-red"></span>详细联系地址</label>
                <div class="layui-input-inline">
                    <input type="text" id="address" name="address" readonly  autocomplete="off" class="layui-input"></div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit id="butt" lay-filter="butt">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    layui.use(['form', 'layer'], function() {
        $ = layui.jquery;
        var form = layui.form,
                layer = layui.layer;
        var id = GetRequest()['id']; //获取url中"?"符后的字串
        //异步获取用户数据
        $.ajax({
            url: path+"/user/"+id+".do",
            type:"get",
            contentType: 'application/json',
            dataType:"json",
            success:function (data) {
                //回显数据
                //console.log(data);
                var user = data.data;
                if (data.success){
                    form.val("form", {
                        id:user.id,
                        identity:user.identity,
                        nickname:user.nickname,
                        realname:user.realname,
                        phone:user.phone,
                        status:user.status,
                        address:user.address
                    });
                    check(user);
                    form.render();
                }else {
                    $("#form").html("没有该用户!或者服务器出现了一点小问题!");
                }
            },
            error:function (data) {
                $("#form").html("<div style='text-align:center'>服务器出现了一点小问题!</div>");
            }
        });

        //对表单数据进行处理
        function check(user) {
            //状态
            if (user['status']==1){
                $("#status").attr("checked",true);
                $("#statusName").text('正在启用');
            }else{
                $("#status").attr("checked",false);
                $("#statusName").text('已经停用');
            }
            form.render();
        }
        //监控提交
        form.on('submit(butt)', function(data){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
            return false;
        });
        //获取url参数
        function GetRequest() {
            var url = decodeURI(location.search); //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for(var i = 0; i < strs.length; i ++) {
                    theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }


    });</script>

</body>

</html>