
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户主页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../res/css/global.css">
  <script type="text/javascript" src="../../res/layui/jquery.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="../../res/js/baseUtils.js" charset="utf-8"></script>
</head>
<body style="margin-top: 65px;">

<div id="header"></div>

<div class="fly-home fly-panel" >
  <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
  <h1>
<!--   用户信息-->
  </h1>
  <div id="user"></div>

</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6 fly-home-jie">
      <div class="fly-panel">
        <h3 class="fly-panel-title">最近的举报</h3>
        <ul class="jie-row">
        </ul>
      </div>
    </div>
  </div>
</div>


<div id="footer"></div>

<script src="../../res/layui/layui.js"></script>
</body>
</html>

<script>
  layui.use(['laypage','jquery','laytpl','element'], function(){
    var laypage = layui.laypage;
    var laytpl = layui.laytpl;
    var element = layui.element;
    $ = layui.jquery;
    var u,hasLogin = checkLogin();
    if(!hasLogin) {
      layer.msg("您还没登录，请先登录",{icon:1},function () {
        location.href=path+'/view/index.html';
      });
    }

    $.ajax({
      //请求方式
      type : "GET",
      //请求地址
      url : path+'/user/mine/'+u.id+'.do',
      //数据，json字符串
      datatype:"json",
      //请求成功
      success : function(res) {
        var getTpl = list_tpl.innerHTML // list_tpl 模板
                , view = document.getElementById(id);
        laytpl(getTpl).render(data, function (html) {
          view.innerHTML = html;
        });
      }
    })
    $.ajax({
      //请求方式
      type : "POST",
      //请求地址
      url : path+'/inspect/inform/list.do',
      //数据，json字符串
      data : {
        currentPage:1,
        pageSize:5,
      },
      datatype:"json",
      //请求成功
      success : function(res) {
        var getTpl = list_tpl.innerHTML // list_tpl 模板
                , view = document.getElementById(id);
        laytpl(getTpl).render(data, function (html) {
          view.innerHTML = html;
        });
      }
    });

</script>


<script id="user_tpl" type="text/html">
  <p style="padding: 10px 0; color: #5FB878;">姓名:{{ d.realname}}}</p>

  <p class="fly-home-info">
    <i class="iconfont icon-shijian"></i><span>
    {{#
            if (CheckIsNullOrEmpty(item.data.create_time)){
            var date = new Date();
            var createTime = item.data.create_time+"000";
            date.setTime(createTime);
            var t = date.Format("yyyy-MM-dd hh:mm:ss");
            }}
            <span class="time_text"> {{ t }}</span>
            {{#
            }else {
            }}
            <span class="time_text"> 无</span>
            {{# } }}
    注册</span>
    <i class="iconfont icon-chengshi"></i><span>来自{{d.address}}}</span>
  </p>
</script>